<ion-header>
  <ion-toolbar>

   <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>

    <ion-title>Annonce </ion-title>
  </ion-toolbar>
</ion-header>




<ion-content>

      <ion-item *ngFor="let annonce of annoncesData">
        <ion-card>
            <ion-card-header class="myCardHeader">Annonces</ion-card-header>
            <ion-card-content padding>
                <p>Titre :<strong> {{annonce.titre}} </strong></p>
                <p>Description :<strong> {{annonce.description}}</strong></p>
              
                <img src="{{annonce.image}}">

            <ion-button (click)="edit(annonce.id)"><a [title]="Edit" [routerLink]="['/update-annonce', annonce.id]">Edit</a></ion-button> 
            <ion-button (click)="delete(annonce)">Supprimer</ion-button>
            </ion-card-content>
        </ion-card>
      </ion-item>

</ion-content>


