<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Best Phone
    </ion-title>

  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="card-background-page">

  

               <app-navbar></app-navbar>


   <div id="container" class="cont">


      <ion-item *ngFor="let annonce of annonces">   
          <ion-card>
              <img src="{{annonce.image}}"/>
              <div class="card-title">{{annonce.titre}}</div>
              <div class="card-subtitle">{{annonce.description}}</div>
          </ion-card>
      </ion-item>

  </div>

</ion-content>
