<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
    <app-navbar></app-navbar>

  <div id="container">
      <app-navbar></app-navbar>

    <ion-button (click) = "goToTeam()" href="/" expand="block" fill="clear" shape="round">
      Click me
    </ion-button>  
  
  </div>
</ion-content>
