<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="home"></ion-back-button>
  </ion-buttons>
    <ion-title>update-annonce</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <form [formGroup]="editForm" >

    <!--pour le titre -->
    <div class="form-group col-6">
        <label for="exampleInputPassword1">Titre :</label>
        <input type="text" class="form-control"  placeholder="ecrire un nom" formControlName='titre' >
    <!--Validation du titre -->
    </div>
    <!--********************* -->
    <button type="submit" class="btn btn-primary" (click)="onUpdate()">Submit</button>

  </form>
</ion-content>
